<div class="bg-light">
    <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
        <div class="col-lg-6">
        <h1 class="display-4">About</h1>
        <p class="lead text-muted mb-0"> This is our submission for Turing's Back End Software Engineering and Design, Module 3's Consultancy Project. This project features a front and back end, and consumes multiple API endpoints.</p>
        </div>
    <div class="col-lg-6 d-none d-lg-block"><img src="https://bootstrapious.com/i/snippets/sn-about/illus.png" alt="" class="img-fluid"></div>
    </div>
    </div>
</div>


<div class="bg-light py-5">
    <div class="container py-5">
    <div class="row mb-4">
        <div class="col-lg-5">
        <h2 class="display-4 font-weight-light">Our team</h2>
        <p class="font-italic text-muted">
        </div>
    </div>

    <div class="row text-center">
        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="about_us_photos/drew.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Drew MacNicholas</h5><span class="small text-uppercase text-muted"></span>
            <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="https://github.com/dmacnicholas">Drew's Github</a></i></a></li><br>
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/drew-macnicholas-20b75660/">Drew's LinkedIn</a></i></a></li>

            </ul>
        </div>
        </div>
        <!-- End-->

        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="about_us_photos/eli.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Eli Sachs</h5><span class="small text-uppercase text-muted"></span>
            <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="https://github.com/easachs">Eli's Github</a></i></a></li><br>
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/easachs/">Eli's LinkedIn</a></i></a></li>

            </ul>
        </div>
        </div>
        <!-- End-->

        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://ca.slack-edge.com/T029P2S9M-U039B688GAH-58ecc6449700-512" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Wesley Miranda</h5><span class="small text-uppercase text-muted"></span>
            <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="https://github.com/wes30303">Wes's Github</a></i></a></li><br>
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/wesley-miranda-80a725196/">Wes's LinkedIn</a></i></a></li>

            </ul>
            </div>
            </div>
        <!-- End-->

        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="about_us_photos/john.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">John Santosuosso </h5><span class="small text-uppercase text-muted"></span>
            <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="https://github.com/JohnSantosuosso">John's Github</a></i></a></li><br>
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/john-santosuosso/">John's LinkedIn</a></i></a></li>
            </ul>
        </div>
        </div>
        <!-- End-->

        <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="about_us_photos/nick.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Nick Jones </h5><span class="small text-uppercase text-muted"></span>
            <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="https://github.com/nlj77">Nick's Github</a></i></a></li><br>
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/nickolas-jones-523b66b7/">Nick's LinkedIn</a></i></a></li>
            </ul>
        </div>
        </div>
        <!-- End-->

    </div>
    </div>
</div>


<footer class="bg-light pb-5">
    <div class="container text-center">
    <p class="font-italic text-muted mb-0">&copy; Copyrights Company.com All rights reserved.</p>
    </div>
</footer>