/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 #bannerimage {
  width: auto;
  background-image: image-url("mountans.jpg");
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: -1;
  .stretch {
      width: 100%;
      height: 100%;
    }
 }

#showimage {
      width: auto;
      background-image: image-url("mountain.jpg");
      height: 100%;
      width: 100%;
      position: fixed;
      top: 0;
      z-index: -1;
  
      .stretch {
        width: 100%;
        height: 100%;
      }
}



 img {
      float: left;
      width: 800px;
      height: 600px;
      object-fit: cover;
      margin: 0;
      padding: 0;
      border: 0;
      border-radius: 0;
      box-shadow: green;
    }

.buttonTo {
  background-color: #2908ba;
  #background-image: image-url("google_logo.png");
  border: none;
  color: rgb(253, 253, 253);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

@import "bootstrap";
